<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">New Business</h1>
	<div class="col-6 offset-3 mb-3">
		<form
			action="/businesses"
			method="POST"
			novalidate
			class="needs-validation"
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title*</label>
				<input
					class="form-control"
					type="text"
					name="business[title]"
					id="title"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location*</label>
				<input
					class="form-control"
					type="text"
					name="business[location]"
					id="location"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<label for="image" class="mb-2">Select Image</label>
			<div class="input-group mb-3">
				<input
					class="form-control"
					type="file"
					name="image"
					id="image"
					multiple
				/>
				<label class="input-group-text" for="image">Upload</label>
			</div>
			<div class="mb-3">
				<label for="category">Category</label>
				<select
					required
					class="form-select"
					id="category"
					name="business[category]"
					aria-label="Default select example"
				>
					<option class="text-muted" value="">Select category</option>
					<% categories.forEach (category=>{%>
					<option value="<%=category%>"><%= category.toUpperCase()%></option>
					<% })%>
				</select>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description*</label>
				<textarea
					class="form-control"
					type="text"
					name="business[description]"
					id="description"
					required
				></textarea>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Add Business</button>
			</div>
		</form>
		<a href="/businesses">All Business</a>
	</div>
</div>
